REACT_APP_STRAVA_ACCESS_TOKEN = e92d70f61ad470109a12ee13eeb7e09b6f3a88c3
REACT_APP_STRAVA_CLIENT_ID = 54845
REACT_APP_STRAVA_CLIENT_SECRET = 65c0799dba5feb377f105d3ba511738ac24adf7d

SKIP_PREFLIGHT_CHECK=true
